.container {
    color: white;
}
.intro-section {
    text-align: center;
    color: white;
    padding: 20px;
}

.product-header {
    color: rgb(233, 66, 176);
}
.product-order {
    color: rgb(105, 244, 181);
}

.form-control {
    color: white;
    background-color: rgb(19, 23, 42);
    border: solid 1px rgb(29, 33, 54);
}

.form-control:focus {
    border-color: white;
    background-color: rgb(19, 23, 42);
}

.form-label {
    color: white;
}

table {
    width: 100%;
    background-color: rgb(12, 13, 54);
    border-spacing: 0;
    border-collapse: separate;
    border: none;
    border: 1px solid white;
    border-radius: 10px;
}
th,
td {
    padding: 10px;
    text-align: center;
}

.product-info {
    display: flex;
    align-items: center;
}

.product-image {
    height: 100px;
    width: 100px;
    margin-right: 10px;
    border-radius: 5px;
}

.product-name {
    color: white;
    margin-right: 10px;
}

.btn-gradient {
    width: 200px;
    border-radius: 30px;
    color: white;
    background: linear-gradient(to right, rgb(225, 64, 180), rgb(126, 43, 237));
}
